<!DOCTYPE html>
<!-- Referencing the App module with the ngApp directive. -->
<html ng-app="todoApp" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TaskList</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <!-- Referencing the controller within this section element as family. -->
  <section ng-controller="TodoController as todoC">



    <!-- <section ng-class="{todoList.completed === 'true'}"></section> -->
    <div class="input">
      <h2>TODOLIST</h2>
      <h3>A place to store the things you have to do</h3>
      <input type="text" placeholder="Fliter your to-dos">

      <div class="container" ng-repeat="item in todoC.todoList">
        <form>
          <button id="button" ng-if="item.completed === false">Complete</button>
          <p ng-class="{ 'finish': item.completed === true , 'notfinish': item.completed === false}"> {{item.task}}
          </p>
        </form>
        <i id="deleteBtn" class="material-icons">clear</i>
      </div>

      <input type="text" placeholder="Add your to-dos">
      <button class="button">SAVE</button>
    </div>

  </section>

  </div>

  <!-- <section ng-class="{ 'sibling': person.relation === 'sibling', 'uncle': person.relation === 'uncle', 'grandpa': person.relation === 'grandpa' }"> -->





  </section>

  <!-- Linking our scripts. -->
  <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
  <script src="module.js"></script>
  <script src="task-ctrl.js"></script>
</body>

</html>